@model Lab04_ed_2022.Models.PacienteModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PacienteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeNacimiento" class="control-label"></label>
                <input asp-for="FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Sexo" class="control-label"></label><br />
                <select asp-for="Sexo" name="Sexo">
                    <option value="0"></option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>
            <div>
                <label asp-for="Especializacion" class="control-label"></label><br />
                <select asp-for="Especializacion" name="Especializacion">
                    <option value="0"></option>
                    <option value="Traumatología (interna)">Traumatología (interna)</option>
                    <option value="Traumatología (expuesta)">Traumatología (expuesta)</option>
                    <option value="Ginecología">Ginecología</option>
                    <option value="Cardiología">Cardiología</option>
                    <option value="Neumología">Neumología</option>
                </select>
            </div>
            <div>
                <label asp-for="MetodoIngreso" class="control-label"></label><br />
                <select asp-for="MetodoIngreso" name="MetodoIngreso">
                    <option value="0"></option>
                    <option value="Ambulancia">Ambulancia</option>
                    <option value="Asistido">Asistido</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
